<header>
<div class="blog-name"><a href="/">Robertism::Musings</a></div>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
  </ul>
  <img src="/assets/hamburger.svg" id="menu-icon">
</nav>
</header>
{{ispage m/*}}<div class="franklin-content">
  <div class="m-date">{{musedate}}</div>
  <strong class="m-title">{{fill title}}</strong>
  {{isdef subtitle}}<p class="m-subtitle">{{fill subtitle}}</p>{{end}}
  <div class="hr"></div>
</div>{{end}}